<template name="register">
	<div class="register-wrapper">
		<div class="close-icon">
			X
		</div>
		<form id="register-form">
			<div class="form-container">
				<input type="username" id="register-username" placeholder="Username" />
				<input type="email" id="register-email" placeholder="Email" />
				<input type="password" id="register-password" placeholder="Password" />
				<input type="submit" id="register-button" value="Create Account" /> 
			</div>
		</form>
		<div class="overlay"></div>
	</div>
</template>