@import 'nib'
@import 'jeet'
@import 'rupture'

main-color = #1d3b63
dg = #666

form
	margin 0
fieldset 
	margin 0
	padding 0
	border none
input 
	font-size 1em
	font-weight 100
	outline none
	background-color transparent
	color dg
	padding 10px
	padding-left 0px
	font 200 1em 'helvetica neue', 'helvetica', sans-serif
	letter-spacing 0.1em
	margin 1%
	border none
	border-bottom 1px solid dg
	width 48%
	box-sizing border-box
	float left
	
input:nth-child(even)
	margin-right 0
input:nth-child(odd)
	margin-left 0
	
::-webkit-input-placeholder
	color dg

.content-wrapper
	max-width 1080px
	padding 20px


// Header Stylings //

.main-header
	width 100%
	padding 20px 0px
	background-color main-color
	color white
	a
		text-decoration none
		display inline-block
		color white
		padding-left 50px
		h1
			margin 0
			padding 0
			font-weight 100
			letter-spacing 0.2em
			text-transform uppercase
ul.main-nav
	list-style none
	float right
	display inline-block
	padding-right 30px
	margin 0
	padding-top 8px
	li
		display inline-block
		padding 0 20px
		letter-spacing 0.1em
		a
			padding 0
			margin 0