@import 'nib'
@import 'jeet'
@import 'rupture'

main-color = #1d3b63
dg = #666

html
	padding 2rem
	font-size 20px
	font-weight 300
	line-height 1.5
	+tablet()
		font-size 18px
	+mobile()
		font-size 14px

h1, h2, h3, h4, h5, h6, p
	margin-top 0
	margin-bottom 1rem

h1, h2, h3, h4, h5, h6
	margin-bottom .5rem
	line-height 1.1

.wrapper 
	width 100%
	background white

#content
	max-width 1080px
	padding 30px 30px
	margin 0 auto
	h2
		color main-color
	p
		color dg
		
	