body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'arial', sans-serif;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}
#landing {
  overflow: hidden;
  width: 100%;
  height: 700px;
  background: url("images/background.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: -1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
#landing .landing-container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
#landing h1 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  letter-spacing: 0.4em;
  font-size: 2em;
  padding-bottom: 30px;
}
.main-btn {
  padding: 15px 110px;
  font-size:1em;
  background: transparent;
  color:white;
  border: 1px solid white;
  border-radius:10px;
  font-family: 'helvetica neue';
  letter-spacing:0.2em;
  font-weight:300!important;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}
.main-btn:focus {
  outline: none;
  border: none;
}

.main-btn:hover {
  border:1px solid transparent;
  background:white;
  color:black;
}
#content {
  height: 9000px;
  margin-top: 700px;
  background-color: #fff;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.menu-open #landing,
.menu-open #content {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: transform 250ms ease;
  -moz-transition: transform 250ms ease;
  -ms-transition: transform 250ms ease;
  -o-transition: transform 250ms ease;
  transition: transform 250ms ease;
}
.landing-nav {
  z-index: 600;
  background-color: #101b2c;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.1em;
  position: fixed;
  text-align: left;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
}
.landing-nav ul {
  display: inline;
  list-style: none;
  margin: 0 auto;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.landing-nav li {
  display: block;
  padding: 10px 20px;
}
.landing-nav .logo {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 1.5em;
  display: block;
  padding: 20px;
  padding-bottom: 50px;
}
.menu-open .landing-nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.menu-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 700;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  transition-delay: 250ms;
}
.menu-icon span.bar {
  display: block;
  width: 30px;
  height: 2px;
  margin: 5px 0;
  background-color: #fff;
  position: relative;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.menu-icon.close span.bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
  -moz-transform: rotate(45deg) translate(5px, 4px);
  -ms-transform: rotate(45deg) translate(5px, 4px);
  -o-transform: rotate(45deg) translate(5px, 4px);
  transform: rotate(45deg) translate(5px, 4px);
}
.menu-icon.close span.bar:nth-child(2) {
  opacity: 0;
}
.menu-icon.close span.bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
  -moz-transform: rotate(-45deg) translate(5px, -5px);
  -ms-transform: rotate(-45deg) translate(5px, -5px);
  -o-transform: rotate(-45deg) translate(5px, -5px);
  transform: rotate(-45deg) translate(5px, -5px);
}
