<template name="addBook">
	<div class="container content-wrapper">
		<h1>Hello</h1>
		<form id="new-book-submit-form">
			<fieldset>
				<input type="text" name="title" id="book-title" placeholder="Title">
				<input type="text" name="author" id="book-author" placeholder="Author">
				<input type="number" name="newPrice" id="book-newPrice" placeholder="Price Brand New">
				<input type="number" name="price" id="book-price" placeholder="Price">
				<input type="submit" name="Add Book" id="submit-book" placeholder="Add Book">
			</fieldset>
		</form>
	</div>
</template>