.main-header
	h1.logo
		border 1px solid white
		font-size 1em
		padding 12px
	ul li:last-of-type
		border 2px solid white
		border-radius 15px
		transition all 250ms ease
		a
			transition all 250ms ease
		&:hover
			background white
			a
				color rgb(50, 50, 50)