<template name="landingHeader">
  <nav class="landing-nav scroll-down">
    <div class="container">
      <a class="logo" href="/">Book Swap</a>
      <ul>
        <li>Home</li>
        <li>Books</li>
        <li id="login">Login</li>
        <li id="signup">Signup</li>
      </ul>
    </div>
  </nav>
  <section id="landing">
    <div class="menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <header class="landing-header">
      <div class="landing-container">
        <h1><strong>Book</strong> Swap</h1>
        <button class="btn main-btn">Dolor Sit Amet</button>
      </div>
    </header>
  </section>
  <div class="wrapper">
    <section id="content">
      <h2>Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
  </div>
</template>