<template name="register">
	<div class="register overlay-page">
		<div class="close-icon">
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="accounts-container">
			<h1>Register</h1>
			<form class="register-form accounts-form" accept-charset="utf-8">
				<div class="input-container half">
					<input class="input-half" type="text" id="register-firstName" placeholder="First" autocomplete="on" autocorrect="off">
					<span class="help-block">{{hasError 'firstName'}}</span>
				</div>
				<div class="input-container half">
					<input class="input-half" type="text" id="register-lastName" placeholder="Last" autocomplete="on" autocorrect="off">
					<span class="help-block">{{hasError 'lastName'}}</span>
				</div>
				<div class="input-container clearfix">
					<input type="email" id="register-email" placeholder="{{emailLabel}}" autocomplete="on" autocorrect="off">
					<span class="help-block">{{hasError 'email'}}</span>
				</div>
				<div class="input-container">
					<input type="password" id="register-password" placeholder="{{passwordLabel}}" autocomplete="on" autocorrect="off">
					<span class="help-block">{{hasError 'password'}}</span>
				</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</div>
</template>