<template name="register">
	<div class="register overlay-page">
		<div class="close-icon">
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="accounts-container">
			<h1>Register</h1>
			<form class="register-form accounts-form" accept-charset="utf-8">
				<input class="input-half" type="text" id="register-firstName" placeholder="First">
				<span class="help-block">{{hasError 'firstName'}}</span>
				<input class="input-half" type="text" id="register-lastName" placeholder="Last">
				<span class="help-block">{{hasError 'lastName'}}</span>
				<input type="email" id="register-email" placeholder="{{emailLabel}}">
				<span class="help-block">{{hasError 'email'}}</span>
				<input type="password" id="register-password" placeholder="{{passwordLabel}}">
				<span class="help-block">{{hasError 'password'}}</span>
				<input type="submit" value="Register">
			</form>
		</div>
	</div>
</template>