.add-book-search-results
	width 70%
	margin 20px auto
	height 200px
	overflow hidden
	.results-book-container
		width auto
		float left
		width 20%
		height 100%
		padding 0 10px
		box-sizing border-box
		.results-book
			height 100%
		.results-book-image
			height 100%
			position relative
			img 
				width 80%
				height auto
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				margin 0 auto