#user-header 
	width 100%
	height 75px 
	background light-blue
	color white
	margin-bottom 10px
	.user-header-container 
		height 100%
		h1
			margin 0
			padding 0
			position absolute 
			left 20px
			top 50%
			transform translateY(-50%)