#user-header 
	width 100%
	height 75px 
	background light-blue
	color white
	margin-bottom 10px
	.user-header-container 
		center(1080px)
		position relative
		height 100%
		h1
			margin 0
			padding 0
			position absolute 
			top 50%
			left 0
			transform translateY(-50%)