.book-container 
	width 25% 
	float left 
	box-sizing border-box 
	margin-bottom 10px
	position relative
.book 
	margin 20px 
	box-sizing border-box
	background #eee
	height 400px
	padding 20px

.book-image 
	text-align center
	
.search-info
	// height 5000px
	background white
	overflow auto
	h1 
		color dark-blue 
		text-align center 
		padding-top 1em 
		letter-spacing 0.2em
	.book-title 
		width 100%
		max-height 40px
		overflow hidden 
		padding 10px 0
		text-transform uppercase

		text-wrap none
		text-overflow ellipsis
	.author 
		text-align left!important
		color dark-blue
		padding 10px 0